body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerlogo {
    display: flex;
    font-size: large;
    justify-content: center;
}

header {
    background-color: #1F2936;
    color: white;
    padding: 10px 20px;
}

#line {
    background-color: white;
    padding: 1px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 10px;
    justify-content: center;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(124, 124, 255);
    text-decoration: underline;
}

main {
    margin-bottom: 100px;
}

main section {
    margin-bottom: 20px;
}

.section1 {
    background-color: #1F2936;
    color: white;
    justify-content: center;
    align-items: center;
}

.section1 button {
    background-color: #3782F5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}

.parent {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.left {
    display: inline;
    width: 450px;
}

.left h1 {
    font-size: 34px;
}

.right {
    padding: 30px;
    width: 450px;
}

.section1 button:hover {
    background-color: #084db5;
    color: rgb(193, 199, 207);
}

footer {
    background-color: #1F2936;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.container {
    width: 80%;
    margin: auto;
}

.container h1 {
    text-align: center;
    color: #1F2936;
}

.content-box {
    border: 4px solid #3782F5;
    border-radius: 10px;
    padding: 20px;
    height: 150px;
    width: 250px;
    margin-top: 20px;
}

.imgpoo {
    object-fit: cover;
    height: 150px;
    width: 250px;
}

.information {
    align-items: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.information p {
    color: #1F2936;
    padding: 10px;
    width: 400px;
    line-height: 30px;
}

.section3 {
    background-color: #E4E5EA;
    padding: 50px;
}

.quote-container {
    align-items: center;
    max-width: 550px;
    justify-content: center;
    padding-left: 420px; /* I cant get align-content and justify-content to work, probably because I need to put a div here, but Im too lazy */
  }
  
  .quote-text {
    color: #1F2936;
    font-size: 24px;
    text-shadow: 0 0 0.20rem #838383;
    max-width: 550px;
    font-style: italic;
  }
  
  .quote-author {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
  }
  
  .cta-button {
    background-color: #3782F5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    max-width: 700px;
  }
  
  .cta-text p {
    color: white;
  }
  
  .sign-up {
    padding: 10px;
    border-radius: 10px;
    border: solid white;
    background-color: transparent;
    color: white;
  }

  .sign-up:hover {
    background-color: #0d55c1;
    cursor: pointer;
  }

  .section4 {
    padding-left: 350px; /* I cant get align-content and justify-content to work, probably because I need to put a div here, but Im too lazy */
  }


.popup {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  

  .popuptext {
    color: black;
  }

  #postSection {
    padding: 15px;
  }

  #postContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post {
    flex: 0 0 30%; 
    box-sizing: border-box;
    margin-bottom: 20px; 
    border: 10px solid #1F2936;
    border-radius: 10px;
    
}

.posttitle {
    background-color: #3782F5;
    padding: 10px;
    color: white;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.postbody {
    padding: 10px;
    max-width: 100%;
}

#weatherSection {
    padding: 15px;
}

#weatherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.weather-info {
    background-color: #1F2936;
    color: white;
    border: 4px solid #3782F5;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-info h3 {
    background-color: #3782F5;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.weather-info p {
    margin: 10px 0;
    padding: 10px;
    background-color: #1F2936;
    border-radius: 5px;
    color: white;
}
